# Node.js dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Dependency directories
/package-lock.json
/yarn.lock

# IDE and Editor configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
